@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* position: relative; */
}
* {
  box-sizing: border-box;
}

code {
  font-family: 'Open Sans', sans-serif;
}


:root {
  --light-grey: rgb(194, 190, 190);
  --wine: rgb(102, 17, 38);
}